/* global rules */

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #c1cdd3;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--logo-color);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--red);
  }
  
  
  :root{
      --red:#ff3838;
      --logo-font: 'Lobster', cursive;
      --logo-color: #da2020;
  }
  
  *{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: all .2s linear;
  }
  
  *::selection{
    background:var(--red);
    color:rgb(0, 0, 0);
  }
  
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }
  
  body{
    background:#f7f7f7;
  }
  
  section{
    padding:2rem 9%;
  }
  
  
  .heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
      color: #f9b629;
    }
    
    .heading span{
      color:var(--red);
    }
    
    .heading::after{
  content: "";
  }
  
  .heading::before{
    content: "";
  }
  
  
  
  .btn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
      background-color: #fe7100;
      height: 100%;
      transition: .3s linear;
      z-index: -1;
    }
    
    .btn:hover::before{
      width:100%;
      left: 0;
    }
    
    /* global rules */
    
    /* start Nav-Bar */
    header{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      display: flex;
      background-image: linear-gradient(153deg, #ffeb3b, #ffc4c4);
      justify-content: space-between;
      padding: 2rem 9%;
      box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
    }
    
    header .logo{
      font-size: 2.5rem;
      font-weight: bolder;
      color: #666;
    }
    
    header .logo i {
      padding-left: .5rem;
      padding-right: 1rem;
      color:var(--logo-color)
    }
    
    header .logo span{
    font-family: var(--logo-font);
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--logo-color);
    border-left: 2px solid #e91e63;
    border-bottom: 2px solid #e91e63;
  }
  
  header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color:black;
  }
  
  header .navbar a:hover{
    color: var(--red);
      border-bottom: 1.5px solid #ffffff;
    }
    
    #menu-bar{
      font-size: 3rem;
      color: #666;
      cursor: pointer;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
  }
  #menu-bar:hover{
    color: var(--red);
  }
  
  
  
  
  @media(max-width:768px){
    #menu-bar{
      display: initial;
    }
    
    header .navbar{
      position: absolute;
      top: 100%; left: 0; right: 0;
      background-color: #f7f7f7;
      border-top: .1rem solid rgba(0,0,0, .1);
      clip-path: polygon(0 0, 100% 0, 0 0);
    }
    header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      
    }
    
    header .navbar a{
      margin: 1.5rem;
      padding: 1.5rem;
      display: block;
      border-left: .5rem solid var(--red);
      background-color: #fff;
  }
  }
  
  @media(max-width:400px){
    html{
      font-size: 50%;
    }   
}
/* End Nav-Bar */

/* Start landing Home */
  .home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background:
    url(background/Are\ you\ ready.jpg);
    background-size: cover;
    background-position: center;
  }

  @media(max-width:400px){
.home{
  min-height: 65vh;
}
  }
  
  .home .content{
    flex:1 1 40rem;
    padding-top: 6.5rem;
  }
  
  .home .image{
    flex:1 1 40rem;
  }
  
  @keyframes float{
    0%, 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(3rem);
  }
}

.home .content h3{
  font-size: 5rem;
  color:#333;
}

.home .content p{
  font-size: 1.7rem;
  color:#666;
  padding:1rem 0;
}

.home .content .btn{
  display: inline-block;
  padding: 1.8rem 1rem;
  background-color: brown;
  border: .3rem solid #cdb8b8;
  color: #ffe64a;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 6.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  top: 21rem;
  margin-top: 1rem;
}

@media (max-width:400px) {
  .home .content{
display: none;
  }
}
.home .content .btn:hover{
    color:#fff;
  }
/* End landing Home */

/*  start speciality */
.speciality{
  background-color: #fff;
  margin-top: 2rem;
}

.speciality .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.speciality .box-container .box{
  flex:1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.3);
  cursor: pointer;
  border-radius: .5rem;
}

.speciality .box-container .box .image{
  height:100%;
  width:100%;
  object-fit: cover;
  position: absolute;
  top:-100%; left:0;
}

.speciality .box-container .box .content{
    text-align: center;
    height: 100%;
    background: #ffd38e;
    padding: 2rem;
}

.speciality .box-container .box .content img{
  margin:1.5rem 0;
}

.speciality .box-container .box .content h3{
  font-size: 2.5rem;
  color:#333;
}

.speciality .box-container .box .content p{
  font-size: 1.6rem;
  color:#666;
  padding:1rem 0;
}

.speciality .box-container .box:hover .image{
  top:0;
}

.speciality .box-container .box:hover .content{
    transform: translatey(100%);
    transition: .7s;
    background-color: rgba(0, 0, 0, 0.500);
}

/* End speciality  */

/* start popular */

section#popular {
    background-color: white;
    margin-top: 2rem;
}

.popular .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.popular .box-container .box{
padding: 2rem;
background: #fff;
box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
border: .1rem solid rgba(0,0,0,.3);
border-radius: .5rem;
text-align: center;
flex: 1 1 30rem;
position: relative;
}

.popular .box-container .box:hover{
  background: rgba(0, 0, 0, 0.05);
}

.popular .box-container .box img{
  width: 100%;
  height: 25rem;
  object-fit: cover;
  padding-top: 4px;
  border-radius: .5rem;
}
.popular .box-container .box .price {
    position: absolute;
    top: 3rem; left: 3rem;
    background: var(--red);
    color: #fff;
    font-size: 2rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.popular .box-container .box h3{
  color: #333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.popular .box-container .box .stars i{
  color: gold;
  font-size: 1.7rem;
  padding: 1rem .1rem; 
}



.popular .box-container .btn{
  display: inline-block;
  padding:.8rem 3rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
    background-color: brown;
  border: .3rem solid #cdb8b8;
  color: #ffe64a;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 6.5rem;
}

.popular .box-container .btn:hover{
  color: #fff;
}


/* End popular */

/* strat steps */

.steps {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem ;
    margin-top: 2rem;
}

.steps .box{
flex: 1 1 25rem;
padding: 1rem;
text-align: center;
}

.steps .box img{
  border-radius: 50%;
  border: 1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0, .3);
}

.steps .box h3{
  font-size: 2.6rem;
  color: #333;
  padding: 1rem ;
}


/* end steps */

.video{
  position: relative;
  background-color: black;
  margin-top: 1rem;
}

.video::before{
  content: "";
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
background-color: rgba(0,0,0, 0.4);
}

.video video{
width: 100%;
height: 60vh;
}

.video .text{
    display: flex;
    align-items: center;
    width: 0%;
    position: absolute;
    top: 50%;
    height: 50%;
    transform: translateY(-50%);
    padding: 20px;
    background-color: #f5f5f514;
    color: white;
    text-align: center;
    animation: full-screen 15s linear infinite ;
  }
  

  
  @keyframes full-screen{
    0%{
      width: 0%;
    }
    
    50%{
     width: 100%;
    }
    100%{
      width: 0%;
    }
  }
  
  .video .text h1 {
    height: 100%;
    text-transform: uppercase;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 3rem;
    background-color: #ff383847;
    animation: full-screen 15s linear infinite ;
  }
  
  .video .text h1 i{
    color: var(--red);
    padding-left: .1rem;
  }
  
  /* start slider img */

section.slide-box {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    background-color: #dddddd63;
}

.box-slider{
    padding: 1rem;
    height: 30rem;
    width: 20rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    border-radius: .5rem;
    text-align: center;
    position: relative;
    margin: -3rem;
    margin-top: 1rem;
    cursor: pointer;
    /* filter: grayscale(); */
}

.box-slider.active{
      background-color: rgb(255 233 68);
    z-index: 9;
    filter: none;
    transform: translateY(-14px);
}

.box-slider img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}

button.btn {
    position: absolute;
    width: 10rem;
    height: 3rem;
    bottom: 38px;
    left: 24%;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 4.5rem;
    background-color: var(--logo-color);
    z-index: 90;
    border: .1rem solid #000;
    cursor: pointer;
    display: none;
}

button.btn::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
    background-color: #fe7100;
    height: 100%;
    transition: .3s linear;
    z-index: -1;
    border-radius:4rem ;
  }
  
button.btn:hover::before{
    width:100%;
    left: 0;
  }

button.btn a{
  color: #ffe64a;
}
 button.btn:hover a{
    color: white;
  }

.box-slider.active button.btn{
  display: block;
}

/* end slider img */

/* start loader */
.loader{
  position: fixed;
  top: 0; left: 0;
  z-index: 10000;
  background:#18233e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader.fade-out{
  top: -120%;
}
/* End loader */

/* start contact seaction  */

.contact .row{
    padding:2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background:#fff;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    border-radius: .5rem;
  }
  
  .contact .row .image{
    flex:1 1 30rem;
  }
  
  .contact .row .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
    border-radius: .5rem;
  }
  
  .contact .row form{
    flex:1 1 50rem;
    padding:1rem;
  }
  
  .contact .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact .row form .inputBox input, .contact .row form textarea{
    padding:1rem;
    margin:1rem 0;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    width:49%;
  }
  
  .contact .row form textarea{
    width:100%;
    resize: none;
    height:15rem;
  }
  
  .contact .row form .btn{
    background-color: brown;
    border: .3rem solid #cdb8b8;
    color: #ffe64a;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 1.5rem;
    z-index: 0;
    width: 13rem;
    height: 4rem;
    position: relative;
  }
  
  .contact .row form .btn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    background-color: #fe7100;
    height: 100%;
    transition: .3s linear;
    z-index: -1;
  }
  
  .contact .row form .btn:hover ::before{
    width:100%;
    left: 0;
  }
  
  .contact .row form .btn:hover{
    color: #fff;
    background-color:#fe7100 ;
  }
  
  /* End contact seaction  */
  
  /* start footer seaction */
  
    .footer-container {
      position: relative;
      text-align: center;
      background: #ffdd6d;
  }
  
  .footer-links {
      position: absolute;
      right: 20px;
      top: 10px;
      display: flex;
      flex-direction: column;
  }
  
  .footer-links a {
      font-size: 1.1rem;
      margin: 0.3rem;
      padding-bottom: .9rem;
      color: #312323;
  }
  
  .footer-links a:hover {
   color: #0d47a1;
   transition: .5s;
  }
  
  
  
  h1.about {
      font-family: var(--logo-font);
      color: #da2020;
      font-size: 25px;
      padding: 0.5rem;
  }
  /* End footer seaction */